html {
    height: 100%;
}

.App {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

header {
    flex: 0 0;
}

svg {
    margin: 0 0.5em;
}

#editor {
    flex: 1 1 60%;
}

#result {
    flex: 1 1 40%;
    padding: 8px;
    overflow: auto;
    background: #eee;
}

.navbar {
    background-color: #683e8e;
}

.navbar #run {
    background-color: #689B9F;
    border-color:     #689B9F;
}

/* We use default :focus effect now */
.navbar #run:hover {
    background-color: #487B7F;
    border-color:     #487B7F;
}
